{% extends "basegentela.html.twig" %}
{% block title %}Demande Mission{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'Bundles/app/gentelella/css/select/select2.min.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets filter='cssrewrite' 'Bundles/app/gentelella/css/switchery/switchery.min.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
{% block body %}

    <div class="right_col" role="main" ng-app="showApp" ng-controller="mainController">
        <div class="">



            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Demande Mission <small>Gestion Mission</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />

                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{{ path("changedemmission") }}" >

                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Numero d'Intervention <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" onchange="this.form.submit()" tabindex="-1" name="interven" required="true">
                                                <option></option>
                                                {% for int in intervention %}
                                                    <option {% if int.getIdIntervention()== inter %} selected {% endif %} value="{{ int.getIdIntervention() }}">Intervention N° {{ int.getIdIntervention() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <center>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{{ path("DemandeMission") }}" >


                                <input type="hidden" required="required" name="nbrintervenant" value="{[{ nbrinter }]}">
                                <input type="hidden" required="required" name="interventionn" value="{{ inter }}">

                                <br><br>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Demandeur <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="demandeur" required="true">
                                                <option></option>
                                                {% for dem in demandeur %}
                                                    <option value="{{ dem.getIdutilisateur().getUsername() }}">{{ dem.getIdutilisateur().getPrenom() }} {{ dem.getIdutilisateur().getNom() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-4">Ajouter Intervenant </label>
                                    <div class="col-md-1 col-sm-1 col-xs-9">
                                        <a ng-click="ajoutnbrinter()"><i class="fa fa-plus-circle"></i> </a>
                                    </div>
                                </div>
                                <br>

                                <div ng-repeat=" g in ranges()">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Intervenant {[{g}]} <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <select class="select2_single form-control" tabindex="-1" name="Intervenant{[{g}]}" required="true">
                                                <option></option>

                                                {% for interv in intervenant %}
                                                    <option value="{{ interv.getIdutilisateur().getUsername() }}">{{ interv.getIdutilisateur().getPrenom() }} {{ interv.getIdutilisateur().getNom() }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12 col-md-offset-4">
                                        <a ng-click="minimnbrinter()"><i class="fa fa-minus-circle"></i> </a>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12 ">
                                        <a ng-click="ajoutnbrinter()"><i class="fa fa-plus-circle"></i> </a>
                                    </div>
                                    <br>
                                    <div class="ln_solid"></div>

                                </div>
                                <br>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Vehicule <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="vehicule" required="true">
                                            <option></option>
                                            {% for veh in vehicule %}
                                                {% if veh.getDisponibilite()==1 %}
                                                    {% if veh.getEtat()=='fonctionnel' %}
                                                        <option value="{{ veh.getNumvehicule() }}">{{ veh.getNumvehicule() }}</option>

                                                    {% endif %}
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <div class="ln_solid"></div>

                                    <center style="color: #ff243b">{{ msg }}</center>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Numero Mission <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="number" required="required" name="nummission" placeholder="Numero Mission" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Cause Mission <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" name="cause" placeholder="Cause Mission" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Lieu Depart <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="lieudepart" required="true">
                                                <option></option>
                                                <option value="تونس"> تونس </option>
                                                <option value="زغوان"> زغوان </option>
                                                <option value="توزر"> توزر </option>
                                                <option value="تطاوين"> تطاوين </option>
                                                <option value="سوسة"> سوسة </option>
                                                <option value="سليانة"> سليانة </option>
                                                <option value="سيدي بوزيد"> سيدي بوزيد </option>
                                                <option value="صفاقس"> صفاقس </option>
                                                <option value="نابل"> نابل </option>
                                                <option value="المنستير"> المنستير </option>
                                                <option value="مدنين"> مدنين </option>
                                                <option value="المهدية"> المهدية </option>
                                                <option value="الكاف"> الكاف </option>
                                                <option value="قبلي"> قبلي </option>
                                                <option value="القصرين"> القصرين </option>
                                                <option value="القيروان"> القيروان </option>
                                                <option value="جندوبة"> جندوبة </option>
                                                <option value="قفصة"> قفصة </option>
                                                <option value="قابس"> قابس </option>
                                                <option value="بنزرت"> بنزرت </option>
                                                <option value="بن عروس"> بن عروس </option>
                                                <option value="باجة"> باجة </option>
                                                <option value="أريانة"> أريانة </option>
                                                <option value="منوبة"> منوبة </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Lieu Arriver <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="lieuarriver" required="true">
                                                <option></option>
                                                <option value="تونس"> تونس </option>
                                                <option value="زغوان"> زغوان </option>
                                                <option value="توزر"> توزر </option>
                                                <option value="تطاوين"> تطاوين </option>
                                                <option value="سوسة"> سوسة </option>
                                                <option value="سليانة"> سليانة </option>
                                                <option value="سيدي بوزيد"> سيدي بوزيد </option>
                                                <option value="صفاقس"> صفاقس </option>
                                                <option value="نابل"> نابل </option>
                                                <option value="المنستير"> المنستير </option>
                                                <option value="مدنين"> مدنين </option>
                                                <option value="المهدية"> المهدية </option>
                                                <option value="الكاف"> الكاف </option>
                                                <option value="قبلي"> قبلي </option>
                                                <option value="القصرين"> القصرين </option>
                                                <option value="القيروان"> القيروان </option>
                                                <option value="جندوبة"> جندوبة </option>
                                                <option value="قفصة"> قفصة </option>
                                                <option value="قابس"> قابس </option>
                                                <option value="بنزرت"> بنزرت </option>
                                                <option value="بن عروس"> بن عروس </option>
                                                <option value="باجة"> باجة </option>
                                                <option value="أريانة"> أريانة </option>
                                                <option value="منوبة"> منوبة </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Date Depart <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" class="form-control" name="datedepart" placeholder="Date Depart" data-inputmask="'mask': '99/99/2099'">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Date Arriver <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" class="form-control" name="datearriver" placeholder="Date Arriver" data-inputmask="'mask': '99/99/2099'">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Heure Depart <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" class="form-control" name="heuredepart" placeholder="Heure Depart" data-inputmask="'mask': '99:99'">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Heure Arriver <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" class="form-control" name="heurearriver" placeholder="Heure Arriver" data-inputmask="'mask': '99:99'">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-1">Charge <span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" required="required" class="form-control" name="charge" placeholder="Charge" value="معدات الشركة">
                                            </div>
                                        </div>
                                    </div>



                                <br>

                                <div class="form-group">
                                    <div class="ln_solid"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="reset" class="btn btn-primary" >Cancel</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <a class="btn btn-default submit" href="{{ path('afficherallmission') }}" >Retour</a>
                                    </div>
                                </div>
                                </form>
                            </center>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#birthday').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script>
        var showApp = angular.module('showApp', [])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{')
                    .endSymbol('}]}');
            })

            .controller('mainController', function($scope) {

                $scope.nbrinter=0;
                $scope.ajoutnbrinter = function () {
                    $scope.nbrinter=$scope.nbrinter+1;
                }
                $scope.minimnbrinter = function () {
                    $scope.nbrinter=$scope.nbrinter-1;
                }
                $scope.ranges = function(step) {
                    step = step || 1;
                    if ($scope.nbrinter>4)
                    {
                        $scope.nbrinter=4;
                    }
                    var input = [];
                    for (var i = 1; i <= $scope.nbrinter; i += step) {
                        input.push(i);
                    }
                    return input;
                };
            });
    </script>



    {% javascripts '@AppBundle/Resources/public/gentelella/js/select/select2.full.js' output='js/select/select2.full.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".select2_single").select2({
                placeholder: "Select un parmit les options",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 4,
                placeholder: "With Max Selection limit 4",
                allowClear: true
            });
        });
    </script>

    <!-- input mask -->
    {% javascripts '@AppBundle/Resources/public/gentelella/js/input_mask/jquery.inputmask.js' output='js/input_mask/jquery.inputmask.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- input_mask -->
    <script>
        $(document).ready(function() {
            $(":input").inputmask();
        });
    </script>
    <!-- /input mask -->
{% endblock %}