{% extends "basegentela.html.twig" %}
{% block title %}Afficher Tous les Utilsateur{% endblock %}


    {% block stylesheet %}
        {{ parent() }}



        {% stylesheets 'Bundles/app/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets 'Bundles/app/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/jquery.dataTables.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/buttons.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/fixedHeader.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}


        {% stylesheets 'Bundles/app/gentelella/js/datatables/responsive.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/scroller.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets 'https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

    {% endblock %}


{% block body %}
    <div class="right_col " role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Afficher Utilisateurs <small>Gestion Utilisateur</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="clearfix"></div>
                            <br><br>

                            {% for flash_message in app.session.flashBag.get('user') %}
                                <div  class="alert alert-success" style="width: 65%">
                                    {{ flash_message }}<br>


                                </div>
                            {% endfor %}

                            <br><br>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <a class="btn btn-default submit" href="{{ path('register') }}" >Ajouter utilisateur</a>

                            </div>
                            <br><br><br><br>


                            <div class="table-responsive" >


                                <table id="example" class="table table-striped table-bordered center-table" cellspacing="0" width="auto">
                                    <thead>
                                    <tr>

                                        <th><center>Username</center></th>
                                        <th><center>Email</center></th>
                                        <th><center>Nom</center></th>
                                        <th><center>Nom (ar)</center></th>
                                        <th><center>Prenom</center></th>
                                        <th><center>Prenom (ar)</center></th>
                                        <th><center>Ncin</center></th>
                                        <th><center>Matricule</center></th>
                                        <th><center>Societe</center></th>
                                        <th><center>Fonction (ar)</center></th>
                                        <th><center>Categorie (ar)</center></th>
                                        <th><center>Fonction (Fr)</center></th>
                                        <th><center>Direction</center></th>
                                        <th><center>Unite (ar)</center></th>
                                        <th><center>Astreint</center> </th>
                                        <th><center>Profile</center> </th>
                                        <th><center>Role </center></th>
                                        <th><center>Modifier</center></th>
                                        <th><center>Delete</center></th>

                                    </tr>
                                    </thead>

                                    <tbody>

                                    {% for r in res %}
                                        <tr>

                                            <td><center>{{ r.getUsername() }}





                                                </center></td>

                                            <td><center>{{ r.getEmail() }}   </center></td>
                                            <td> <center>{{ r.getNom() }}</center> </td>
                                            <td> <center>{{ r.getNomAr() }}</center>  </td>
                                            <td><center> {{ r.getPrenom() }}</center> </td>
                                            <td> <center>{{ r.getPrenomAr() }}</center> </td>
                                            <td><center>{{ r.getNcin() }}</center></td>

                                            <td><center> {{ r.getMatricule() }}</center></td>
                                            <td><center> {{ r.getSociete() }}</center></td>
                                            <td><center> {{ r.getFonctionAr() }}</center></td>
                                            <td><center> {{ r.getCategorieAr() }}</center></td>
                                            <td><center> {{ r.getFonctionFr() }}</center></td>
                                            <td><center> {{ r.getDirection() }}</center></td>
                                            <td><center> {{ r.getUnite() }}</center></td>

                                            {% if  r.getIsAstreint() == 1 %}
                                                <td><center>Astreint </center></td>
                                            {% else %}
                                                <td><center>Non Astreint</center></td>

                                            {% endif %}

                                            <form action="{{ path('Profile') }}" method="post">
                                                <td><center>
                                                        <input type="hidden" name="Username" value="{{  r.getUsername() }}">

                                                        <button type="submit" class="btn btn-primary btn-sm" >Voire profile</button></center></td></form>

                                            <td><center>   {{ r.getRole() }}</center></td>

                                            <form action="{{ path('modifieruser') }}" method="post">
                                                <td><center> <input type="hidden" name="Username" value="{{  r.getUsername() }}"><button type="submit" class="btn btn-default submit" >Modifier</button></center></td></form>



                                            <form action="{{ path('supprimeuser') }}" method="post">
                                                <td><center> <input type="hidden" name="Username" value="{{  r.getUsername() }}">
                                                        <a id="modal-853909" href="#modal-{{  r.getUsername() }}" role="button" class="btn btn-default submit" data-toggle="modal">Delete</a>
                                                        <div class="modal fade" id="modal-{{  r.getUsername() }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">

                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                            ×
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                            Delete
                                                                        </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Confirmation du suppression
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-default success">Delete</button>
                                                                        <input type="hidden" name="Username" value="{{  r.getUsername() }}">

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </center></td></form>



                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                                {% for flash_message in app.session.flashBag.get('notice') %}
                                    <div  class="alert alert-error" style="width: 65%">
                                        {{ flash_message }}<br>
                                        <a class="btn btn-info submit" href="{{ path }}" >Ici</a>

                                    </div>
                                {% endfor %}


                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label>Liste de profile de l'utilsateur :<span style="color:#0f0f0f;font-weight:bold">{{ Usernamep }}</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <form action="{{ path('Role') }}" method="post">
                                                <select onchange="this.form.submit()"  name="Profile"style="size: 5px">
                                                    <option></option>
                                                    {% for r in profile %}

                                                        <option   value="{{ r.getIdprofile().getName() }}" >{{ r.getIdprofile().getName() }}</option>

                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" name="Usernamep" value="{{  Usernamep }}">


                                            </form>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label>List Role pour Profile:<span style="color:#0f0f0f;font-weight:bold">{{ Profile_click }}</span></label><br><label> de l'utilisateur<span style="color:#0f0f0f;font-weight:bold">{{ UsernameR }}</span></label>
                                        </div>


                                        <div class="col-sm-5">
                                            <select name="role" style="size: 5px">
                                                {% for r in role %}
                                                    <option value="{{ r.getIdrole().getName() }}">{{ r.getIdrole().getName() }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div></div></div></div>
            </div>
        </div>
    </div>









{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <!-- form wizard -->
     {% javascripts '@AppBundle/Resources/public/gentelella/js/wizard/jquery.smartWizard.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/jquery.dataTables.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.bootstrap.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.buttons.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.bootstrap.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/jszip.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/pdfmake.min.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.html5.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/vfs_fonts.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.print.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.fixedHeader.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.keyTable.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.responsive.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/responsive.bootstrap.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.scroller.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}


     <script type="text/javascript">
         $(document).ready(function() {
             $('#example').DataTable();
         } );
         TableManageButtons.init();
     </script>

 {% endblock %}







