{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form)   }}
    {{ form_end(form) }}
    <br><br>
    <h1>{{ image }}</h1>
    <div class="cd-timeline-img">
        {% image '@AppBundle/Resources/public/images/''{{ image }}' %}
        <img src="{{ asset_url }}" class="img-circle" alt="{{ image }}!">
        {% endimage %}
    </div>

    <input type="datetime" class="form-control">
{% endblock %}






















