{% extends "basegentela.html.twig" %}
{% block title %}Supprimer Numero Serie!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'Bundles/app/gentelella/css/select/select2.min.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets filter='cssrewrite' 'Bundles/app/gentelella/css/switchery/switchery.min.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="right_col" role="main" ng-app="showApp" ng-controller="mainController">
    <div class="">



    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
        <h2>Supprimer Numero Serie <small>Gestion Stock</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <br />
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{{ path("confirmationsuppSerie") }}" >

                <div class="form-group">

                       <div class="col-md-6 col-sm-6 col-xs-12">
                           <input type="hidden"  required="required" name="nbrserie" id="nbrserie" class="form-control col-md-7 col-xs-12 " value="{[{ nbr }]}" >
                       </div>
                </div>
                <div class="form-group">

                       <div class="col-md-6 col-sm-6 col-xs-12">
                           <input type="hidden"  required="required" name="article" id="article" class="form-control col-md-7 col-xs-12 " value="{{ arti }}" >
                       </div>
                </div>

        <div class="form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Numero Serie 1<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="select2_single form-control" tabindex="-1" name="serie1" required="true">
                        <option></option>
                        {% for r in res %}
                            <option value="{{ r.getName() }}">{{ r.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-6">
               <a ng-click="ajout()"><i class="fa fa-plus-circle"></i> </a>
        </div>
        <br>
<div class="ln_solid"></div><br>

           <div ng-repeat=" n in ranges()">
           <div class="form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Numero Serie {[{ n+1 }]}<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="select2_single form-control" tabindex="-1" name="serie{[{ n+1 }]}" required="true">
                        <option></option>
                        {% for r in res %}
                            <option value="{{ r.getName() }}">{{ r.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 col-md-offset-5">
                 <a ng-click="minim()"><i class="fa fa-minus-circle"></i> </a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 ">
               <a ng-click="ajout()"><i class="fa fa-plus-circle"></i> </a>
        </div><br>
         <div class="ln_solid"></div><br>
           </div>


                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                        <button type="reset" class="btn btn-primary">Cancel</button>
                                        <a id="modal-853909" href="#modal-container-853909" role="button" class="btn btn-success submit" data-toggle="modal">Supprimer</a>                                    </div>
                                </div>


                                <div class="modal fade" id="modal-container-853909" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Save
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                Confirmation de suppression
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-success" >Submit</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>



    </form>




{% endblock %}
 {% block javascripts %}
       {{ parent() }}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var showApp = angular.module('showApp', [])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{')
                    .endSymbol('}]}');
            })

            .controller('mainController', function($scope) {


                $scope.nbr=1;
                $scope.ajout = function () {
                    $scope.nbr=$scope.nbr+1;
                }
                $scope.minim = function () {
                    $scope.nbr=$scope.nbr-1;
                }
                $scope.ranges = function(step) {
                    step = step || 1;
                    var input = [];
                    for (var i = 1; i <= $scope.nbr-1; i += step) {
                        input.push(i);
                    }
                    return input;
                };

            });

    </script>
{% javascripts '@AppBundle/Resources/public/gentelella/js/select/select2.full.js' output='js/select/select2.full.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".select2_single").select2({
                placeholder: "Select un parmit les options",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 4,
                placeholder: "With Max Selection limit 4",
                allowClear: true
            });
        });
    </script>

        {% endblock %}