{% extends "basegentela.html.twig" %}
{% block title %}Consulter Statistique Personnalisée{% endblock %}
{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets filter='cssrewrite' 'Bundles/app/datepicker/css/bootstrap-datepicker.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets filter='cssrewrite' 'Bundles/app/datepicker/css/bootstrap-datepicker.standalone.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets filter='cssrewrite' 'Bundles/app/datepicker/css/bootstrap-datepicker3.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets filter='cssrewrite' 'Bundles/app/datepicker/css/bootstrap-datepicker3.standalone.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Consulter Statistique Personnalisée
                        <small>
                            Gestion Reporting
                        </small>
                    </h3>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Intervention <small>par marge de date </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="echart_line" style="height:450px;"></div>
                            <center> <h4 style="color:red">{{ error }}</h4></center>
                            <div class="span5 col-md-6 col-md-offset-7">
                                <form method="POST" action="{{ path("confirmtestali") }}">
                                    <div class="span5 col-md-3" id="sandbox-container">
                                        <input type="text" class="form-control" placeholder="Date Début" name="debut" required="required">
                                    </div>

                                    <div class="span5 col-md-3" id="sandbox-container">
                                        <input type="text" class="form-control" placeholder="Date Fin" name="fin" required="required">
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Filtrer">
                                    <a class="btn btn-default submit" href="{{ path('stat_intervention_intervenant') }}" >Retour</a>
                                </form>
                            </div>


                        </div>
                    </div></div></div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <!-- echart -->

     {% javascripts '@AppBundle/Resources/public/gentelella/js/echart/echarts-all.js' output='js/echart/echarts-all.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/echart/green.js' output='js/echart/green.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     <script>
         var myChart = echarts.init(document.getElementById('echart_line'), theme);
         myChart.setOption({
             title: {
                 text: 'Intervention par marge de date',
                 subtext: 'Intervention'
             },
             tooltip: {
                 trigger: 'axis'
             },
             legend: {
                 data: ['Intervention']
             },
             series: [{
                 name: 'Intervention',
                 type: 'line',
                 smooth: true,
                 itemStyle: {
                     normal: {
                         areaStyle: {
                             type: 'default'
                         }
                     }
                 },
                 data: [{% for c in count %}{{ c }},{% endfor %}]
             }],
             toolbox: {
                 show: true,
                 feature: {
                     magicType: {
                         show: true,
                         type: ['line', 'bar', 'stack', 'tiled']
                     },
                     restore: {
                         show: true
                     },
                     saveAsImage: {
                         show: true
                     }
                 }
             },
             calculable: true,
             xAxis: [{
                 type: 'category',
                 boundaryGap: false,
                 data: [{% for dt in datee %}'{{ dt }}',{% endfor %}]
             }],
             yAxis: [{
                 type: 'value'
             }]
         });
     </script>
     {% javascripts '@AppBundle/Resources/public/gentelella/js/gauge/jquery-ui.js' output='js/gauge/jquery-ui.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'  output='js/bootstrap-datepicker.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}

     <script>

         $('#sandbox-container input').datepicker({
             format: 'dd/mm/yyyy'
         });

     </script>

 {% endblock %}