{% extends "basegentela.html.twig" %}
{% block title %}Afficher Bon d'Hotels{% endblock %}


    {% block stylesheet %}
        {{ parent() }}

        {% stylesheets 'Bundles/app/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/jquery.dataTables.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/buttons.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/fixedHeader.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}


        {% stylesheets 'Bundles/app/gentelella/js/datatables/responsive.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}



        {% stylesheets 'Bundles/app/gentelella/js/datatables/scroller.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% stylesheets 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets 'https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

    {% endblock %}


{% block body %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Afficher Bon Hotels <small>Gestion Intervention</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="clearfix"></div>
                            <br><br>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <a class="btn btn-default submit" href="{{ path('demandehotel') }}" >Demande Bon d'Hotel </a>

                            </div>
                            <br><br><br><br>

                            <div class="row">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>

                                    <tr>
                                        <th><center>N° Intervention</center></th>
                                        <th><center>Demandeur</center></th>
                                        <th><center>Hotel</center></th>
                                        <th><center>Date d’entrée</center></th>
                                        <th><center>Date sortie</center></th>
                                        <th><center>Lieu et objet</center></th>
                                        <th><center>Delete</center></th>
                                    </tr>




                                    </thead>
                                    <tbody>
                                    {% for bo in bon %}
                                        <tr>
                                            <td><center>{{ bo.getIntervention().getIdIntervention() }}</center></td>
                                            <td><center>{{ bo.getDemandeur().getPrenom() }} {{ bo.getDemandeur().getNom() }}</center></td>
                                            <td><center>{{ bo.getHotel().getDesignation() }}</center></td>
                                            <td><center>{{ bo.getDateEntree() }}</center></td>
                                            <td><center>{{ bo.getDateSortie() }}</center></td>
                                            <td><center>{{ bo.getObjetdeplacement() }}</center></td>
                                            <form action="{{ path('supprimerbonhotel') }}" method="post">
                                                <td> <center>  <input type="hidden" name="idbon" value="{{ bo.getIdBonhotel() }}">

                                                        <a href="#1{{ bo.getIdBonhotel() }}" role="button" class="btn btn-default submit" data-toggle="modal">Delete</a>
                                                        <div class="modal fade" id="1{{ bo.getIdBonhotel() }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">

                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                            ×
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                            Delete
                                                                        </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Confirmation du suppression
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-default success">Delete</button>
                                                                        <input type="hidden" name="name" value="{{ bo.getIdBonhotel() }}">

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </center>
                                                </td></form>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div></div></div></div>
            </div>
        </div>
    </div>









{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <!-- form wizard -->
     {% javascripts '@AppBundle/Resources/public/gentelella/js/wizard/jquery.smartWizard.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/jquery.dataTables.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.bootstrap.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.buttons.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.bootstrap.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/jszip.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/pdfmake.min.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.html5.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/vfs_fonts.js'   %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/buttons.print.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.fixedHeader.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.keyTable.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.responsive.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/responsive.bootstrap.min.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {% javascripts '@AppBundle/Resources/public/gentelella/js/datatables/dataTables.scroller.min.js'  %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}


     <script type="text/javascript">
         $(document).ready(function() {
             $('#example').DataTable();
         } );
         TableManageButtons.init();
     </script>

 {% endblock %}
