{% extends "basegentela.html.twig" %}
{% block title %}Modifier Hotel{% endblock %}
{% block body %}
<div class="right_col" role="main">
    <div class="">



        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Modifier Hotel <small>Gestion Intervention</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{{ path("modifier_hotel") }}" >

                            <input type="hidden" id="designation" name="designation" required="required" class="form-control col-md-7 col-xs-12 " value="{{ res.getDesignation() }}">


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="designation">Designation <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text"  required="required" class="form-control col-md-7 col-xs-12 disabled" disabled="true" value="{{ res.getDesignation() }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="marque">Adresse <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="adress" name="adress" required="required" class="form-control col-md-7 col-xs-12" value="{{ res.getAdress() }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="marque">Numero Telephone <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="tel" name="tel" required="required" class="form-control col-md-7 col-xs-12" value="{{ res.getTel() }}" min="10000000" max="99999999" maxlength="8" minlength="8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="marque">Ville <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ville" name="ville" required="required" class="form-control col-md-7 col-xs-12" value="{{ res.getVille() }}">
                                </div>
                            </div>



                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a class="btn btn-default submit" href="{{ path('afficherhotel') }}" >Retour</a>
                                </div>
                            </div>

                        </form>
                        </center>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#birthday').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
{% endblock %}